.header{
    text-decoration: underline;
    font-size: 40px;
}
.con{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    height: 100vh;
   
    
}
.card-shadow {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    background-color: white;
  }
  
.sendit:disabled{
    opacity: 0.5;
}
