.ProfCard{
    display: flex;
    flex-direction: row;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    border-radius: 20px;
    justify-content: space-around;
}
.contan{
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    padding: 40px;
    border-radius: 20px;
}