.container{
    width: 100%;
    height: 100%;
 display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    

}

.card{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: auto;
    padding: 20px 40px 20px 40px;
    border-radius: 10px;
}
.deletebtn{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    cursor: pointer;
}
.deletebtn:active{
    background-color: darkred;
    transform: scale(0.95);
}
.doldur{
    display: flex;
    flex-direction: row;
    justify-content:space-between
}
.btn{
    padding: 5px 10px 5px 10px;
    margin: 5px;
    background-color: rgb(229, 231, 235);
    border-radius: 10px;
}
.btn:active{
    transform: scale(0.95);
    background-color: rgb(219, 221, 225);;
}